EASY_LISTENING_ENV=dev
EASY_LISTENING_DB_VENDOR=mysql
EASY_LISTENING_DATABASE_URL_RESOURCE=mysql+pymysql://username:password@127.0.0.1:3306/dev_resources?charset=utf8mb4
EASY_LISTENING_DATABASE_URL_RESOURCE_READ=mysql+pymysql://username:password@127.0.0.1:3306/dev_resources?charset=utf8mb4
EASY_LISTENING_CORS_ALLOW_ORIGINS=http://localhost:8081,http://127.0.0.1:8081
